* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  background-color: #000;
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  height: 80px;
}

header nav ul {
  list-style-type: none;
  text-decoration: none;
}

header nav .logo {
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 12px 16px;
}

.logo-container,
.menu-container,
.social-container {
  display: flex;
  align-items: center;
}

.menu-container ul {
  display: flex;
  justify-content: center;
}

.menu-container ul li {
  margin: 0 12px;
}

a {
  text-decoration: none;
}

.social-container ul {
  display: flex;
  gap: 10px; /* Adjust the gap between social icons */
}

.social-container ul li {
  margin: 0 12px;
}

.social-container i {
  font-size: 1.5rem; /* Adjust the font size of social icons */
}

.hero-section {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.overlay-text h2 {
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.horizontal-divider {
  width: 380px;
  height: 8px;
  background-color: #f24c4c;
  margin: 10px auto; /* Center the divider horizontally */
}

.hero-section img {
  width: 100%;
  height: auto;
}

.lorem-section p {
  max-width: 380px;
  word-spacing: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.about-section h2 {
  text-align: center;
  margin: 24px 0;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 200px;
}

.about-text {
  text-align: left;
  max-width: 30%;
  color: #fff;
  font-family: Ruda;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 160% */
  letter-spacing: 2.25px;
}

.dough-image {
  max-width: 50%;
  text-align: right;
}

.dough-image img {
  max-width: 100%;
  height: auto;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 10%;
}


.menu-text {
  text-align: center;
  max-width: 0 auto;
  color: #fff;
  font-family: Ruda;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 160% */
  letter-spacing: 2.25px;
}

.menu-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.menu-card {
  display: flex;
  width: 45%; /* Adjust card width as needed */
  margin-bottom: 20px;
  background-color: #333; /* Card background color */
  border-radius: 8px;
  overflow: hidden;
}

.menu-card img {
  width: 280px;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-info {
  padding: 15px;
  text-align: center;
}

.card-info h2 {
  text-align: left;
  font-size: 26px;
  color: #f2c94c;
  margin-bottom: 10px;
}

.card-info p {
  font-size: 14px;
  text-align: justify;
  color: #fff;
  font-family: Ruda;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 200% */
  letter-spacing: 1.8px;
}
